.home-page {
    margin: 0;
    padding: 0;
    border-right: 1px solid #2f3336;
    border-left: 1px solid #2f3336;
    height: 150vh;

    .tweet-box-header {
        background-color: #010305;
        position: sticky;
        top: 0;
        padding: 20px;
        h2 {
            margin: 0;
        }
    }

    .tweet-box {
        padding-left: 20px;
        border-bottom: 1px solid #2f3336;

        &-content {
            margin-top: 20px;
            display: flex;
            align-items: flex-start;
            input {
                background-color: transparent;
                color: #fff;
                width: 90%;
                margin-left: 20px;
                font-size: 20px;
                border: none;
            }
        }
        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icons {
                color: #1D9BF0;
                font-size: 18px;
                margin-left: 90px;
                .icon {
                    margin-right: 15px;
                    cursor: pointer;
                }
            }
            .tweetle-btn {
                background-color: rgb(29, 155, 240);
                opacity: 0.5;
                transform: all linear 0.5s;
                border-radius: 50px;
                font-size: 14px;
                margin-right: 10px;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}