.overlaypanel {
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 0 14px 1px #2e2e2e; /* outer cyan */

  .p-overlaypanel-content {
    padding: 0;
  }

  .menu-footer-container {
    margin-top: 0;
    cursor: default;
    &:hover {
      background-color: #000000;
    }
    .menu-footer {
      &-pic {
        width: 60px;
        height: 60px;
      }
      &-icon {
        color: #1674b4;
        margin-right: 10px;
      }
    }
  }
  .overlaypanel-content {
    margin-top: 20px;
    border-top: 1px solid rgb(47, 51, 54);
    .overlaypanel-items {
      color: #fff;
      padding: 15px;
      cursor: pointer;
      &:hover {
        background-color: #181818;
      }
    }
  }
}

.p-overlaypanel.p-overlaypanel-flipped:after, .p-overlaypanel.p-overlaypanel-flipped:before  {
  border-top-color: #000 !important;
}
