.tweet-box {

  &-content {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    img {
      object-fit: cover;
      width: 60px;
      height: 60px;
    }
    textarea {
      background-color: transparent;
      color: #fff;
      width: 90%;
      margin-left: 20px;
      font-size: 20px;
      border: none;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icons {
      color: #1d9bf0;
      font-size: 18px;
      margin-left: 90px;
      .icon {
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .tweet-length-text {
      color: rgb(113, 118, 123);
    }
    .tweetle-btn {
      background-color: rgb(29, 155, 240);
      transform: all linear 0.5s;
      border-radius: 50px;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .p-dialog .p-dialog-header {
    background-color: #000 !important;
  }
}

.tweetbox-overlaypanel {
    padding-left: 20px;
    .overlaypanel-header {
        h6 {
            padding: 0;
            padding-top: 20px;
            margin: 0;
            color: #fff;
        }
        p {
            margin-top: 5px;
        }
    }
    .overlaypanel-content {
        margin-top: 15px !important;
        .overlaypanel-items {
            padding: 10px 0 !important;
            &:hover {
                background-color: #16181C !important;
            }
        }
    }

    &-icon {
        background-color: #1D9BF0;
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

.tweet-box-dialog {
    .p-dialog-header, .p-dialog-content {
        background-color: #000 !important;
      }

}
